<%- include('../partials/header'); %>
  <main>
    <form class="custom content creation form">
      <label for="title">Title</label>
      <textarea name="title" cols="30" rows="1" maxlength="50"></textarea>
      <div class="title error"></div>
      <label for="contents">Contents</label>
      <textarea name="contents" cols="30" rows="10" maxlength="5000"></textarea>
      <div class="contents error"></div>
      <br>
      <p>Please choose a tip category:</p>
      <span>
        <input type="radio" id="category-one" name="category" value="Guitar, strings and accessories choice">
        <label for="category-one">Guitar, strings and accessories choice</label>
      </span>
      <span>
        <input type="radio" id="category-two" name="category" value="Care and maintenance">
        <label for="category-two">Care and maintenance</label>
      </span>
      <span>
        <input type="radio" id="category-three" name="category" value="Recording and amplification">
        <label for="category-three">Recording and amplification</label>
      </span>
      <span>
        <input type="radio" id="category-four" name="category" value="Other topics">
        <label for="category-four">Other topics</label>
      </span>
      <div class="category error"></div>
      <span>
        <p>Upload images:</p><input type="file" id="images" multiple>
      </span>
      <div class="image error"></div>
      <button>Publish tip</button>
    </form>
    <br><br>
    <span><a class="btn" href="/tips-overview">To the guitar tips overview</a></span>
  </main>

  <script type="module" src="/js/tipScripts/createTip.js"></script>
<%- include('../partials/footer'); %>