<%- include('../partials/header'); %>
  <main>
    <h3>Here you can manage guitar hub users</h3>
    <br><br>  
    <span><a class="btn" href="/user-management/new-user-form">Create new user</a></span>
    <br><br>
    <span><a class="btn" href="/user-management/users">View all users</a></span>
    <br><br>
    <span><a class="btn" href="/">Go back to main menu</a></span>
  </main>
<%- include('../partials/footer'); %>