<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Guitar Hub</a></h1>
    <div>
      <% if (!currentUser) { %>
        <a class="btn" href="/auth">Register / Log in</a>
      <% } else { %>
        <p>Welcome, <%= currentUser.username %>!</p>
        <a class="btn" href="/auth/my-profile">Manage my profile</a>
        <a class="btn" href="/auth/logout">Log out</a>
      <% } %>
    </div>
  </nav>