<%- include('../partials/header'); %>
  <main>
    <h3>Please sign up or log in with:</h3>
    <br><br>
    <span><a class="btn" href="/auth/google">Google</a></span>
    <br><br>
    <span><a class="btn" href="/auth/signup">Local signup</a></span>
    <br><br>
    <span><a class="btn" href="/auth/login">Local login</a></span>
    <br><br><br>
    <span><a class="btn" href="/">Go back to main menu</a></span>
  </main>
<%- include('../partials/footer'); %>