<%- include('../partials/header'); %>
  <main>
    <h3>Please sign up or log in with existing credentials</h3>
    <br><br>
    <span><a class="btn" href="/auth/signup">Sign up as new user</a></span>
    <br><br>
    <span><a class="btn" href="/auth/login">Log in with existing credentials</a></span>
    <br><br>
    <span><a class="btn" href="/">Go back to main menu</a></span>
  </main>
<%- include('../partials/footer'); %>