<%- include('../partials/header'); %>
  <main>
    <h3>
      Here you can request<br>
      a password reset
    </h3>
    <br>
    <form>
      <span>Enter your registered email:</span>
      <input type="text" name="email">
      <div class="email error"></div>
      <button>Request password reset</button>
    </form>
    <br><br>
    <span><a class="btn" href="/auth/login">Go back to the login page</a></span>
  </main>

  <script type="module" src="/js/authScripts/forgotPassword.js"></script>
<%- include('../partials/footer'); %>