<%- include('../partials/header'); %>
  <main>
    <h3>
      Please choose your<br>
      new password
    </h3>
    <br>
    <form>
      <span>Enter your new password:</span>
      <input type="password" name="password">
      <div class="password error"></div>
      <div class="token error"></div>
      <button>Submit</button>
    </form>
  </main>

  <script type="module" src="/js/authScripts/resetPassword.js"></script>
<%- include('../partials/footer'); %>