<%- include('../partials/header'); %>
  <main>
    <h3><%= message %></h3>
    <br><br><br>
    <span><a class="btn" href="/">Go to main menu</a></span>
  </main>
<%- include('../partials/footer'); %>