<%- include('../partials/header'); %>
  <main>
    <h3>Here you can learn more about this project</h3>
    <br><br>
    <span><a class="btn" href="/">Go back to main menu</a></span>
  </main>
<%- include('../partials/footer'); %>