<%- include('../partials/header'); %>
  <main>
    <h3>Welcome to Guitar Hub!</h3>
    <% if (currentUser && currentUser.role === "admin") { %>
      <br><br>
      <span><a class="btn" href="/user-management">Manage guitar wiki users</a></span>
    <% } %>
    <br><br>
    <span><a class="btn" href="/tips-overview">Browse guitar tips</a></span>
    <br><br>
    <span><a class="btn" href="/about">Learn more about this project</a></span>
  </main>
<%- include('../partials/footer'); %>